<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="controller.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
	</head>
	<body ng-app="mainApp">
		<input type="text" ng-model="message.property1">
		<p ng-repeat="i in [1]">
			<input type="text" ng-model="message.property1">
			You Wrote: {{ message.property1 }}
		</p>
		[Outer] You Wrote: {{ message.property1 }}
	</body>
</html>